.brand-name {
    padding: auto;
    align-items:normal;
    border-bottom: solid thick royalblue;
}

header {
    flex: 0 80px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.nav-item {
    padding: 8px;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.container-fluid {
    border-bottom: solid thin gray;
}

.game-options-container {
    flex: 1;
    display: flex;
    flex-direction: row !important;
}

.game-options {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button {
    margin-left: 50px !important;
    margin-right:50px !important;
    background-color: royalblue !important;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}

.main-header {
    flex: 20%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
    border-bottom: solid thick beige;
}

.big-text {
    font-size: 96px;
}

.small-text {
    font-size: 24px;
}

footer {
    border-top: solid thin gray;
    flex: 0 30px;
}

footer a {
    float: right;
}

#chessboard {
    width: 400px;
    height: 400px;
    margin: 100px;
}

.chess-square {
    width: 50px;
    height: 50px;
    float: left;
}

.chess-square-white {
    width: 50px;
    height: 50px;
    float: left;
}

.chess-square-black {
    width: 50px;
    height: 50px;
    float: left;
}

var {
    display: none;
}

.chess-square-white-pawn {
    width: 50px;
    height: 50px;
    float: left;
}

.chess-square-black-pawn {
    width: 50px;
    height: 50px;
    float: left;
}

.chess-square-white-rook {
    width: 50px;
    height: 50px;
    float: left;
}

.chess-square-black-rook {
    width: 50px;
    height: 50px;
    float: left;
}

.path-circle {
    color: blue;
}

.pawn-white {
    justify-content: center;
    color: white;
    margin-left: 7px;
    font-size: 35px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.pawn-black {
    justify-content: center;
    color: black;
    margin-left: 7px;
    font-size: 35px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.rook-white {
    justify-content: center;
    color: white;
    margin-left: 7px;
    font-size: 35px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.rook-black {
    justify-content: center;
    color: black;
    margin-left: 7px;
    font-size: 35px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

@media only screen and (min-width: 520px) {
    #chessboard {
        margin-left: 130px;
    }
}
@media only screen and (min-width: 1200px) {
    #chessboard {
        margin-left: 500px;
    }
}